/* Reseting everything to zero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General div styling */
div {
    margin: 5px;
}

/* Style the h1 element */
h1 {
    color: blue;
}

/* Hide the span inside #third but keep its space
#third > span {
    visibility: hidden;
} */

/* Hide the paragraph inside .right and remove its space
.right p {
    display: none;
} */

/* Image size styling */
img {
    width: 300px;
    height: 300px;
}

/* Style for all paragraphs */
p {
    color: red;
}

/* Add color background to <p> inside #third but keep its space */
#third > p {
    background-color: purple;
}
